body{
  margin: 0px;
  padding: 0px;
  /* background-color: aqua; */
}

.outer-div{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #81c784;
}

.inner-div{
  height: 500px;
  width: 400px;
  /* border: 2px solid; */
  background-color: #c5e1a5;
  border-radius: 0.8rem;
  box-shadow: 2px 2px 20px 0px #262626;
  overflow-y: auto;
}

.heading{
  text-align: center;
  color: azure;
  background-color: #33691e;;
}

.main-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  background-color: transparent;
  width: 200px;
  padding: 10px;
  border-bottom: 2px solid;
  font-size: 20px;
  text-align: center;
  color: #004d40;
}

.second-div{
  display: flex;
  justify-content: start;
}

.plus-icon{
  font-size: 30px;
  color: #827717;
  transition: all 0.3s;
}

.plus-icon:hover{
  color: #33691e;
  cursor: pointer;
}

.minus-icon{
  font-size: 30px;
  color: #33691e;
  transition: all 0.3s;
}

.minus-icon:hover{
  color: #f00;
  cursor: pointer;
}

.edit-icon{
  font-size: 30px;
  color: rgb(95, 95, 231);
  float: right;
}

li{
  font-size: 20px;
  color: #004d40;
  margin: 18px;
}

button{
  background-color: transparent;
  border: none;
}